<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="stijl">
    <ion-button routerLink="/home/bier">BIER</ion-button>
    <br>
    <ion-button routerLink="/home/cava">CAVA</ion-button>
    <br>
    <ion-button routerLink="/home/frisdrank">FRISDRANK</ion-button>
    <br>
    <ion-button routerLink="/home/fruitsap">FRUITSAP</ion-button>
    <br>
    <ion-button routerLink="/home/water">WATER</ion-button>
    <br>
    <ion-button routerLink="/home/wijn">WIJN</ion-button>
  </ion-list>
</ion-content>
